# <i><b><span style='color:#55679C'> Data Understanding </span>

Sebelum mempraktekan Query SQL di bawah ini pastinya kita perlu memahami tiap Data yang ada pada tiap kolom dataset.

*Kenapa?*

Karena bagaimana mungkin kita bisa menganalisis data jika kita tidak mengerti data yang mau kita analisis? Maka dari itu perlu bagi kita untuk memahaminya terlebih dahulu semua data yang ada pada dataset agar tidak kesulitan pada saat proses analisi datanya.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
customer_demography = pd.read_csv('/content/drive/MyDrive/dataset/telco_churn_dataset/customer_demography.csv')
customer_location = pd.read_csv('/content/drive/MyDrive/dataset/telco_churn_dataset/customer_location.csv')
customer_status = pd.read_csv('/content/drive/MyDrive/dataset/telco_churn_dataset/customer_status.csv')
population = pd.read_csv('/content/drive/MyDrive/dataset/telco_churn_dataset/population.csv')
telco_services = pd.read_csv('/content/drive/MyDrive/dataset/telco_churn_dataset/telco_services.csv')

## Telco Churn Dataset

### telco_services

In [5]:
telco_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   referred_a_friend                  7043 non-null   object
 2   number_of_referrals                7043 non-null   int64
 3   tenure_in_months                   7043 non-null   int64
 4   offer                              3166 non-null   object
 5   phone_service                      7043 non-null   object
 6   avg_monthly_long_distance_charges  7043 non-null   float64
 7   multiple_lines                     7043 non-null   object
 8   internet_service                   7043 non-null   object
 9   internet_type                      5517 non-null   object
 10  avg_monthly_gb_download            7043 non-null   int64
 11  online_security                    7043 non-null   object
 12  online_backup                      7043 non-null   object
 13  device_protection_plan             7043 non-null   object
 14  premium_tech_support               7043 non-null   object
 15  streaming_tv                       7043 non-null   object
 16  streaming_movies                   7043 non-null   object
 17  streaming_music                    7043 non-null   object
 18  unlimited_data                     7043 non-null   object
 19  contract                           7043 non-null   object
 20  paperless_billing                  7043 non-null   object
 21  payment_method                     7043 non-null   object
 22  monthly_charge                     7043 non-null   float64
 23  total_charges                      7043 non-null   float64
 24  total_refunds                      7043 non-null   float64
 25  total_extra_data_charges           7043 non-null   int64
 26  total_long_distance_charges        7043 non-null   float64
 27  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(4), object(18)
memory usage: 1.5+ MB

Dataset telco_services memiliki 28 kolom dengan total 7.043 entri. Berikut penjelasan masing-masing kolomnya:

1. customer_id: ID unik setiap pelanggan.
2. referred_a_friend: Apakah pelanggan mereferensikan teman? ("Yes"/"No").
3. number_of_referrals: Jumlah teman yang direferensikan.
4. tenure_in_months: Lama pelanggan berlangganan dalam bulan.
5. offer: Promo atau penawaran yang diberikan ke pelanggan.
6. phone_service: Apakah pelanggan memiliki layanan telepon? ("Yes"/"No").
7. avg_monthly_long_distance_charges: Biaya rata-rata panggilan jarak jauh per bulan.
8. multiple_lines: Apakah pelanggan memiliki lebih dari satu jalur telepon? ("Yes"/"No").
9. internet_service: Apakah pelanggan memiliki layanan internet? ("Yes"/"No").
10. internet_type: Jenis layanan internet yang digunakan (DSL, Fiber Optic, dll.).
11. avg_monthly_gb_download: Rata-rata jumlah data yang diunduh per bulan (GB).
12. online_security: Apakah pelanggan memiliki layanan keamanan online? ("Yes"/"No").
13. online_backup: Apakah pelanggan memiliki layanan backup online? ("Yes"/"No").
14. device_protection_plan: Apakah pelanggan memiliki perlindungan perangkat? ("Yes"/"No").
15. premium_tech_support: Apakah pelanggan memiliki layanan dukungan teknis premium? ("Yes"/"No").
16. streaming_tv: Apakah pelanggan memiliki layanan streaming TV? ("Yes"/"No").
17. streaming_movies: Apakah pelanggan memiliki layanan streaming film? ("Yes"/"No").
18. streaming_music: Apakah pelanggan memiliki layanan streaming musik? ("Yes"/"No").
19. unlimited_data: Apakah pelanggan memiliki paket data tanpa batas? ("Yes"/"No").
20. contract: Jenis kontrak pelanggan (Month-to-Month, 1-Year, 2-Year).
21. paperless_billing: Apakah pelanggan menggunakan tagihan elektronik? ("Yes"/"No").
22. payment_method: Metode pembayaran yang digunakan (Bank Withdrawal, Credit Card, dll.).
23. monthly_charge: Total biaya bulanan yang dikenakan ke pelanggan.
24. total_charges: Total biaya yang telah dibayarkan oleh pelanggan sejak pertama berlangganan.
25. total_refunds: Total pengembalian dana yang diterima pelanggan.
total_extra_data_charges: Total biaya tambahan untuk penggunaan data di luar paket.
26. total_long_distance_charges: Total biaya panggilan jarak jauh yang telah dikenakan.
27. total_revenue: Total pendapatan yang diperoleh dari pelanggan.


Ket: Beberapa kolom seperti offer dan internet_type memiliki nilai null karena mungkin tidak semua pelanggan menerima promo atau memiliki layanan internet.

### customer_status

In [6]:
customer_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         7043 non-null   object
 1   satisfaction_score  7043 non-null   int64
 2   status              7043 non-null   object
 3   churn_label         7043 non-null   object
 4   churn_score         7043 non-null   int64
 5   cltv                7043 non-null   int64
 6   churn_category      1869 non-null   object
 7   churn_reason        1869 non-null   object
dtypes: int64(3), object(5)
memory usage: 440.3+ KB

Dataset customer_status memiliki 8 kolom dengan total 7.043 entri. Berikut penjelasan masing-masing kolomnya:

1. customer_id: ID unik setiap pelanggan.
2. satisfaction_score: Skor kepuasan pelanggan (skala tertentu, misalnya 1–5).
3. status: Status pelanggan saat ini (Active, Churned, dll.).
4. churn_label: Indikasi apakah pelanggan sudah berhenti berlangganan ("Yes"/"No").
5. churn_score: Skor probabilitas pelanggan berhenti berlangganan (semakin tinggi, semakin berisiko churn).
6. cltv (Customer Lifetime Value): Nilai pelanggan dalam jangka panjang bagi perusahaan.
7. churn_category: Kategori alasan pelanggan berhenti berlangganan (Competitor, Dissatisfaction, dll.).
8. churn_reason: Alasan spesifik mengapa pelanggan berhenti berlangganan.


Ket: Kolom churn_category dan churn_reason memiliki banyak nilai null, kemungkinan karena pelanggan yang masih aktif tidak memiliki alasan churn.

### customer_demography

In [7]:
customer_demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           7043 non-null   object
 1   gender                7043 non-null   object
 2   age                   7043 non-null   int64
 3   senior_citizen        7043 non-null   object
 4   married               7043 non-null   object
 5   number_of_dependents  7043 non-null   int64
dtypes: int64(2), object(4)
memory usage: 330.3+ KB

Dataset customer_demography memiliki 6 kolom dengan total 7.043 entri. Berikut penjelasan masing-masing kolomnya:

1. customer_id: ID unik setiap pelanggan.
2. gender: Jenis kelamin pelanggan ("Male"/"Female").
3. age: Usia pelanggan dalam tahun.
4. senior_citizen: Apakah pelanggan termasuk warga senior (biasanya ≥ 65 tahun) ("Yes"/"No").
5. married: Status pernikahan pelanggan ("Yes"/"No").
6. number_of_dependents: Jumlah tanggungan yang dimiliki pelanggan.

### customer_location

In [8]:
customer_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  7043 non-null   object
 1   country      7043 non-null   object
 2   state        7043 non-null   object
 3   city         7043 non-null   object
 4   zip_code     7043 non-null   int64
 5   latitude     7043 non-null   float64
 6   longitude    7043 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 385.3+ KB

Dataset customer_location memiliki 7 kolom dengan total 7.043 entri. Berikut penjelasan masing-masing kolomnya:

1. customer_id: ID unik setiap pelanggan.
2. country: Negara tempat pelanggan berada.
3. state: Negara bagian atau provinsi tempat pelanggan tinggal.
4. city: Kota tempat pelanggan tinggal.
5. zip_code: Kode pos wilayah tempat pelanggan tinggal.
6. latitude: Koordinat garis lintang lokasi pelanggan.
7. longitude: Koordinat garis bujur lokasi pelanggan.

### population

In [10]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   population_id  1671 non-null   int64
 1   zip_code       1671 non-null   int64
 2   population     1671 non-null   int64
dtypes: int64(3)
memory usage: 39.3 KB

Dataset population memiliki 3 kolom dengan total 1.671 entri. Berikut penjelasan masing-masing kolomnya:

1. population_id: ID unik untuk setiap data populasi.
2. zip_code: Kode pos wilayah yang terkait dengan data populasi.
3. population: Jumlah total populasi di wilayah dengan kode pos tersebut.